* {
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

body {
font-family: 'Poppins', sans-serif;
background: #0e0e0e;
color: white;
}

nav {
/* display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 8%;
background: rgba(0,0,0,0.7);
position: absolute;
top: 0;
width: 100%;
z-index: 1000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
color: #ff2e63;
font-weight: 800;
}

.nav-links {
display: flex;
gap: 30px;
list-style: none;
}

.nav-links a {
color: white;
text-decoration: none;
transition: 0.3s;
}

.nav-links a:hover {
color: #ff2e63;
}

.menu-toggle {
display: none;
font-size: 28px;
cursor: pointer;
}

.close-btn{
  display: none;
}

header {
height: 100vh;
background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url('images/hero.jpg') center/cover;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
padding: 0 20px;
}

.hero h1 {
font-size: 48px;
font-weight: 800;
}
.reveal-text span {
    opacity: 0;
    display: inline-block;
    transform: translateY(40px);
    animation: revealUp 0.8s forwards;
}

.reveal-text span:nth-child(1) { animation-delay: 0.2s; }
.reveal-text span:nth-child(2) { animation-delay: 0.4s; }
.reveal-text span:nth-child(3) { animation-delay: 0.6s; }
.reveal-text span:nth-child(4) { animation-delay: 0.8s; }
.reveal-text span:nth-child(5) { animation-delay: 1s; }

@keyframes revealUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    position: relative;
       height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}
.hero h1,
.hero p,
.hero button,
.hero a {
    position: relative;
    z-index: 2;
}

.bg-video {
     position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -2;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.bg-video.show {
    opacity: 1;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    pointer-events: none;  
}
#enterBtn {
    background: #ff2e63;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    transition: 0.3s;
    display: flex;
}
.hero.cinematic {
    animation: heroZoom 10s ease forwards;
}

@keyframes heroZoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}
.btn {
display: inline-block;
margin-top: 20px;
padding: 12px 30px;
background: #ff2e63;
border-radius: 30px;
text-decoration: none;
color: white;
transition: 0.3s;
}

.btn:hover {
background: #e02655;
}

section {
padding: 100px 8%;
text-align: center;
}
#music{
    padding: 100px 8%;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9));/* url('https://media.istockphoto.com/id/2224884515/photo/abstract-blue-geometric-shapes-shiny-design-background.webp?a=1&b=1&s=612x612&w=0&k=20&c=lg6xTCTmoHmwbTuSGSp3wXkbdsSweQn5GN6G-lYScq8=') center/cover; */
}
#music h2 {
    color: #ff2e63;
    margin-bottom: 20px;
}

.music-items{
      display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}
.music-items iframe {
      width: 100%;
    aspect-ratio: 12 / 4;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.music-items iframe:hover {
    transform: scale(1.05);
}

#videos{
    padding: 100px 8%;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url('https://media.istockphoto.com/id/2224884515/photo/abstract-blue-geometric-shapes-shiny-design-background.webp?a=1&b=1&s=612x612&w=0&k=20&c=lg6xTCTmoHmwbTuSGSp3wXkbdsSweQn5GN6G-lYScq8=') center/cover;
}
.video-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 0 8%;
    margin-top: 30px;
}
.video-grid .video-items iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
}

.gallery-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
margin-top: 30px;
}

.gallery-grid img {
width: 100%;
border-radius: 10px;
transition: 0.3s;
}

.gallery-grid img:hover {
transform: scale(1.05);
}

/* Mobile */
@media (max-width: 768px) {
.nav-links {
display: none;
flex-direction: column;
background: #111;
border-radius: 20px;
/* border-top: #e02655 1px solid; */
border-bottom: #e02655 1px solid;
position: absolute;
top: 70px;
right: 0;
width: 200px;
padding: 20px;
}
.close-btn{
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  color: #e02655;
}
.menu-toggle{
position: absolute;
top: 10px;
right: 10px;font-size: 30px;
cursor: pointer;
color: #e02655;
}

.nav-links.active {
display: flex;
}

.menu-toggle {
display: block;
}
}


/* LOADER */

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #0e0e0e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 4px solid #222;
    border-top: 4px solid #ff2e63;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loader-text {
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #ff2e63;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#loader.hidden {
    opacity: 0;
    visibility: hidden;
}


.up-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #ff2e63;
    padding: 12px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.up-btn:hover {
    transform: scale(1.1);
}

#main-content {
    opacity: 0;
    transition: opacity 1s ease;
}

#main-content.show {
    opacity: 1;
}